<h1 style="text-align: center; padding-top: 10px; font-size: 40px; "><strong>{{team.name}}</strong></h1> <br>
<div class="image"><img style=" width: 400px;text-align: center;"  [src]="team.imageURL"  ><br></div>
<div class="team-item">
    <div class="podaci">
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Nationality:</strong> {{team.nationality}}</span> <br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Current position:</strong> {{team.position}}</span> <br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Current points:</strong>{{team.points}} </span><br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Engines:</strong>{{team.engines}}</span><br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Wins:</strong>{{team.wins}}</span><br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Pole positions:</strong>{{team.polPozition}}</span><br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Constructors' Champions:</strong>{{team.championshipsC}} ({{team.yearChampionshipsC}})</span><br><br>
        <span style="font-size: 20px;"><strong style="font-size: 25px;">Drivers' Champions:</strong>{{team.championshipsD}} ({{team.yearChampionshipsD}})</span><br><br>
        <span style="font-size: 20px; "><strong style="font-size: 25px;">Description:</strong> {{team.description}}</span><br><br>

        </div>
</div>
