
<div class="page" style="background-image: url({{driver.imageURL}}) ;">
<h1 style="text-align: center; padding-top: 10px; font-size: 40px; "><strong style="background-color: white;">{{driver.firstName}} {{driver.lastName}}</strong></h1> <br>

<div class="driver-item" >
    <div class ="podaci" >
     <span style="font-size: 18px; background-color: white;"><strong style="font-size: 20px;">Nationality:</strong> {{ driver.nationality}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Born:</strong> {{ driver.yearBorn}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Car number:</strong> {{ driver.carNumber}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Current position:</strong> {{ driver.position}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Current points:</strong> {{ driver.points}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Team:</strong> {{ driver.team}}</span> <br><br> 
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Wins:</strong> {{driver.win}}</span> <br><br> 
     <span style="font-size: 18px; background-color: white;"><strong style="font-size: 20px;">Pole positions:</strong> {{driver.polPozition}}</span> <br><br>
     <span style="font-size: 18px;background-color: white;"><strong style="font-size: 20px;">Career points:</strong> {{driver.careerPoints}}</span> <br><br>
     <span style="font-size: 18px; background-color: white;"><strong style="font-size: 20px;">Championships:</strong> {{driver.championships}} ({{driver.yearChampionships}})</span> <br><br>
     <span style="font-size: 18px; background-color: white;"><strong style="font-size: 20px;">Bio:</strong>  {{driver.description}}</span> <br><br>  
        </div>
</div>
</div>
